.cardStyle article{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 30px;
  
  }
  .cardStyle button{
    border: none;
    background: none;
  }

  .cardStyle button svg{
    color: rgb(17, 182, 204);
  transition: 0.2s;
  }
  .cardStyle button svg:hover{
    color: rgb(7, 92, 104);
  
  }
  .cardStyle article p {
    margin: 5px 20px 0 0;
    color: rgb(116, 107, 124);
    font-weight: bold;

  }
  .CardMargBotton{
      margin-bottom: 25px;
  }
  h4{

    color: rgb(102, 97, 97) ;
    font-weight: bold;
    margin: auto 20px;


}


