* {
  padding: 0;
  margin: 0;
}
body {
  
  background: linear-gradient(354deg, rgba(62,7,173,1) 10%, rgba(134,10,159,10) 35%, rgba(164,0,255,1) 100%);
  background-repeat: no-repeat;
  height: 100vh;
  padding: 40px;
}
li{
    list-style: none;
}
h1{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}
.cardStyle article{
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 10px 30px;

}
.cardStyle a svg{
  color: blueviolet;

}


.containerCard {
  max-width: 950px;
  margin: 20px auto;
}

.containerCard article p {
  margin: 5px 20px 0 0;
  font-size: 20px;

}
.containerCard article button {
    margin: 5px 10px 0 0;
    width: 200px;
    
  }
  .containerCard ul {
    margin: 5px 20px 0 0;
    font-size: 20px;
  
  }
  .containerCard li {
      margin: 5px auto;
      width: 200px;
     
   
    }
