* {
  padding: 0;
  margin: 0;
}
img{

 margin-bottom: -60px;
}
.accent{
  width: 300px;
  height: 300px;
  left: 20px;
    top: 20px;
   
    opacity:0.5;
}
body {
  
  /*background: linear-gradient(354deg, rgba(62,7,173,1) 10%, rgba(134,10,159,10) 35%, rgba(164,0,255,1) 100%);*/
  background: linear-gradient(340deg,  rgb(19, 184, 235) 20%, rgb(67, 238, 238)  55%, rgb(122, 243, 217) 100%);
  background-repeat: no-repeat;
  height: 100vh;
  padding: 40px;
}




.containerCard {
  max-width: 950px;
  margin: 20px auto;
}




